<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>all-in-one</title>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            width: 50%;
        }
        a {
            display: inline-block;
            margin-right: 20px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Click to explore below available module</p>
    <hr/>
    <a href="/album">Album</a>
    <a href="/mnc">Employee Management</a>
</body>
</html>